<%- include('partials/_header')  %>

    <header class="container-fluid" style="margin-top: 70px;">

        <div>
            <div class="row border-bottom" style="margin: auto;">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Entorno Administrativo</h5>
                            <p class="card-text font-weight-bolder">
                                El entorno Administrativo es la forma en cómo las personas laboran dentro de una Empresa. La administracion se puede definir como el proceso de diseñar y mantener un ambiente en el que las personas trabajan en grupo con eficiencia en las metas propuestas.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div title="Entorno" class="bg-dark " align="center">
                        <img src="https://image.slidesharecdn.com/administracionequipo-160331071535/95/entorno-administrativo-upaep-4-638.jpg?cb=1459408575" alt="..." class="img-thumbnail img-fluid align-self-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <%- include('contenido/tabla') %>
        </div>

    </header>

    <%- include('partials/footer') %>