<%- include("partials/_header") %>

    <header class="container-fluid" style="margin-top: 70px;">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Mantenimiento</h5>
                            <p class="card-text font-weight-bolder">
                                El mantenimiento de computadoras es la practica de mantenerlas en buen estado. Es posible que una computadora que contengan polvo y residuos acumulados no funcione correctamente. El polvo y los residuos se acumularan como resultado del enfriamiento por
                                aire.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div title="Programacion">
                        <img src="https://img2.freepng.es/20180511/sge/kisspng-laptop-computer-repair-technician-computer-mainten-5af55d7aa6ded3.4060670315260296906835.jpg" alt="..." class="img-fluid img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <%- include("contenido/mantenimiento/tabla_mantenimiento") %>
    </footer>

    <%- include("partials/footer") %>