<%- include("partials/_header") %>

    <header class="container-fluid" style="margin-top: 70px;">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Programación</h5>
                            <p class="card-text font-weight-bolder">
                                La programacion es el proceso utilizado para idear y ordenar las acciones necesarias para realizar un proyecto, Preparar ciertas maquinas o aparatos para que empiecen a funcionar en el momento y en la forma deseados o elaborar programas para su empleo
                                de computadoras.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div title="Programacion">
                        <img src="https://concepto.de/wp-content/uploads/2014/08/programacion-2-e1551291144973.jpg" alt="..." class="img-fluid img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <%- include("contenido/programacion/tabla_programacion") %>
    </footer>

    <%- include("partials/footer") %>