<%- include("partials/_header") %>
    <header class="container-fluid" style="margin-top: 70px;">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Programación</h5>
                            <p class="card-text font-weight-bolder">
                                Las tecnologia de la informacion y la comunicación (TIC) son todos aquellos recursos, Herramientas y programas que se utilizan para procesar, administrar y compartir la informacion mediantes diversos soportes tecnologicos, tales como computadoras, telefonos
                                moviles, televisores, reproductores portatiles de audio y vidio o consola de juegos.
                            </p>
                            <p class="card-text font-weight-bolder">
                                Actualmente el papel de las TIC en la sociedad es muy importante porque ofrecen muchos servicios como: correo electronico, busqueda de informacion, banca online, descarga de musica y cine, comercio electronico, etc. Por esta razon las TIC an incursionado
                                facilmente en diversos ambitos de la vida, entre ellos, el de la educacion.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div title="Tics">
                        <img src=https://www.esan.edu.pe/conexion/actualidad/2018/08/23/1500x844_TIC_educacion_posgrado.jpg " alt="... " class="img-fluid img-thumbnail ">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
      <%- include("contenido/tic/tabla_tics") %> 
    </footer>

    <%- include("partials/footer") %>